<div class="modal-header border-bottom-0 pb-0">
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef?.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="d-flex">
    <div class="img-box p-4">
      <img [src]="product.image" [alt]="product.title" class="w-100">
    </div>
    <div class="w-100 pr-4">
      <h4 class="font-weight-bold">{{product.title}}</h4>
      <p>
        <span>Tình trạng: </span>
        <span class="text-success ml-3" *ngIf="product.status === 'stocking'">Còn hàng</span>
        <span class="text-danger ml-3" *ngIf="product.status === 'over'">Liên hệ</span>
      </p>
      <p>
        <span>Giá: </span>
        <span class="text-pun-danger h3 mb-0 ml-3">{{product.price | number : '4.0-2'}} {{product.currency}}</span>
      </p>
      <p>
        <span>Lượt mua: </span>
        <span class="ml-3">{{product.quantity_sold}}</span>
      </p>
      <p *ngIf="product.weight">
        <span>Trọng lượng: </span>
        <span class="font-weight-bold ml-3">{{product.weight}}</span>
      </p>
      <form (ngSubmit)="submit(buy)" #buy="ngForm">
        <div class="form-group position-relative">
          <label>Số lượng: </label>
          <div class=" position-relative">
            <input type="number" [(ngModel)]="selectedProduct.quantity" name="quantity" class="form-control w-50" min="1">
            <small *ngIf="selectedProduct.quantity < 1" class="has-invalid alert-inline">
              <i class="fas fa-exclamation-triangle mr-2"></i>Cần ít nhất 1 sản phẩm
            </small>
          </div>
        </div>
        <button class="btn btn-pun-danger btn-static btn-block mt-4" (click)="submit(buy)" [disabled]="product.status === 'over' || submitted || selectedProduct.quantity < 1" type="button">Mua hàng</button>
      </form>
    </div>
  </div>
</div>
