ul.pagination {
  margin: 0;
	li {
    cursor: pointer;
    &.current {
      pointer-events: none;
    }
    &.disabled {
      pointer-events: none;
      cursor: default;
    }
    i {
      font-size: 12px;
    }
		a[disabled="true"] {
			opacity: 0.6;
			pointer-events: none;
		}
		a {
			&:visited {
				background: #fff;
				color: #28313b;
				border: 1px solid #dadfea;
			}
		}
	}
}
.pagination li a[disabled="true"], .pagination li a.active, .dropdown-select li.active {
	pointer-events: none;
}
.pagination > li > a, .pagination > li > span {
	display: flex;
	align-items: center;
	justify-content: center;
	border: solid 1px #dadfea;
	color: #333333;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
	background-color: #fff;
	color: #333333;
	font-weight: bold;
	border: solid 1px #dadfea;
}
.pagination li a.active, .pagination li a:hover, .pagination li a:active, .pagination li a:focus {
	background: #fff;
	color: #f97561;
	border: 1px solid #f97561;
}

.pagination > li > a, .pagination > li > span, .pagination > .disabled > a {
	min-width: 36px;
	width: auto;
	height: 36px;
	margin: 0 3px;
	background: #E8E8E8;
	border-radius: 3px;
}

