<div class="head-content">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 d-flex align-items-center">
        <div class="quote">
          <h1>Sự hài lòng của bạn là mục tiêu của chúng tôi</h1>
          <div>Sản phẩm và dịch vụ của chúng tôi là để mang đến cho bạn và những người bạn nhỏ của bạn sự hài lòng</div>
          <a class="btn btn-lg btn-pun-danger mt-4" routerLink="pages/contact" routerLinkActive="active">Liên hệ</a>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <img src="./assets/pun_image/home_template.png" class="img-temp">
      </div>
    </div>
  </div>
  <div class="d-flex corner-absolute">
    <img src="./assets/pun_image/corner-left.svg">
    <img src="./assets/pun_image/corner-right.svg">
  </div>
</div>

<div class="home-contact">
  <div class="container">
    <div class="d-flex justify-content-between">
      <!-- Contact -->
      <div class="box-contact mr-4">
        <div class="circle-icon">
          <i class="fas fa-at"></i>
        </div>
        <div class="content-contact">
          <h4 class="font-weiht-bold">Liên hệ</h4>
          <label>
            <a href="{{shop_address.email}}"  class="text-pun-secondary">{{shop_address.email}}</a>
          </label>
          <label>
            <a href="tel: {{shop_address.phone}}"  class="text-pun-secondary">{{shop_address.phone}}</a>
          </label>
        </div>
      </div>
      <!-- Open Hours -->
      <div class="box-contact mx-4">
        <div class="circle-icon">
          <i class="fas fa-clock"></i>
        </div>
        <div class="content-contact">
          <h4 class="font-weiht-bold">Giờ mở cửa</h4>
          <label class="d-block">Thứ hai - Thứ sáu: <span class="text-pun-secondary">{{open_hours.weekly}}</span></label>
          <label class="d-block">Saturday: <span class="text-pun-secondary">{{open_hours.weekend}}</span></label>
          <label class="d-block">Sunday: <span class="text-pun-secondary">{{open_hours.weekend}}</span></label>
        </div>
      </div>
      <!-- Location -->
      <div class="box-contact ml-4">
        <div class="circle-icon">
          <i class="fas fa-map-marker-alt"></i>
        </div>
        <div class="content-contact">
          <h4 class="font-weiht-bold">Địa chỉ</h4>
          <label>{{shop_address.street}}</label>
          <label>{{shop_address.district}}</label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container stick"></div>

<!-- Preview services -->
<div class="container mb-5">
  <div class="services">
    <h2 class="mb-5 font-weight-bold">Dịch vụ</h2>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let service of listServices">
        <a class="box-service" (click)="openService(service)">
          <img class="box-img" [src]="service.image" [alt]="service.title">
          <div class="d-flex flex-column">
            <h3 class="font-weight-bold">{{service.title}}</h3>
            <p>{{service.description}}</p>
            <div class="d-flex mt-auto">
              <ng-container *ngIf="service.price; else noPrice">
                <span class="badge badge-pun-secondary mr-4">{{service.price | number : "4.0-2"}} VNĐ</span>
              </ng-container>
              <ng-template #noPrice>
                <span class="badge badge-pun-secondary mr-4">Liên hệ</span>
              </ng-template>
              <span class="badge badge-pun-secondary">{{service.time}}</span>
            </div>
          </div>
        </a>
      </ng-template>
    </owl-carousel-o>
  </div>
</div>

<!-- About us -->
<div class="box-about background-cloud px-5">
  <div class="d-flex mx-5">
    <div class="home-about-img">
      <img src="./assets/pun_image/home-about-img.jpeg" class="img-about">
      <img src="./assets/pun_image/home-about-cat.jpg" class="img-about img-cat-3d">
    </div>
    <div class="about-us pl-4">
      <h2 class="font-weight-bold mb-4">Giới thiệu</h2>
      <p class="text-pun-secondary font-weight-500">Với tình yêu dành cho thú cưng, chúng tôi đã bắt đầu xây dựng thương hiệu hạng nhất trong lĩnh vực chăm sóc các bạn nhỏ. Được thành lập vào năm 2000, hơn 21 năm, chúng tôi luôn ưu tiên trải nghiệm của khách hàng và sự thoải mái của những người bạn nhỏ của chúng tôi.</p>
      <p class="d-flex align-items-center">
        <img src="./assets/_icon/check.png" width="30" class="mr-4">
        <label class="mb-0 font-weight-bold">Trên 20 năm kinh nghiệm</label>
      </p>
      <p class="d-flex align-items-center">
        <img src="./assets/_icon/check.png" width="30" class="mr-4">
        <label class="mb-0 font-weight-bold">15 bác sĩ thú y tài năng sẵn sàng giúp bạn</label>
      </p>
      <p class="d-flex align-items-center">
        <img src="./assets/_icon/check.png" width="30" class="mr-4">
        <label class="mb-0 font-weight-bold">Dịch vụ chất lượng cao</label>
      </p>
      <a class="btn btn-lg btn-pun-danger mt-4" routerLink="pages/about" routerLinkActive="active">Tìm hiểu thêm</a>
    </div>
  </div>
</div>
